Package: com.sini.immortalizer
Name: Immortalizer【rootless】
Description: 将应用置于前台达到真后台效果，刀刀编译并汉化
Maintainer: sergy & daodao
Author: sergy
Section: 越狱插件
icon: https://sini921.github.io/repo/sileodepiction/icon/immortalizer.png
Sileodepiction: https://sini921.github.io/repo/sileodepiction/immortalizer/js.json
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, com.opa334.altlist
Architecture: iphoneos-arm64
Version: 2.0.0-1
Installed-Size: 656
